#FOR BACK END: .env.production && .env.local
APP_ENV=dev
DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@HOST:PORT/DB
REDIS_URL=redis://HOST:PORT/0


#FOR FRONT END: .env.local
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_WS_BASE_URL=